@tailwind base;
@tailwind components;
@tailwind utilities;

header nav a:not(.active) .bar {
  @apply hidden;
}

header nav a:not(.active):hover .bar {
  @apply block opacity-50;
}

@layer base {
  header nav a {
    @apply w-full text-base font-normal sm:text-sm font-BarlowCondensed;
    letter-spacing: 2.7px;
  }

  @media (max-width: 767px) and (max-width: 639px) {
    header nav {
      inset: 0 0 0 30%;
      padding: min(30vh, 10rem) 4px 0 2em;
    }
  }

  h1 {
    @apply text-tertiary font-Bellefair text-8xl sm:text-[150px];
  }

  p {
    @apply text-primary font-Barlow text-[15px] sm:text-base w-10/12 sm:w-7/12;
    line-height: 25px;
  }

  h3 {
    @apply text-base sm:text-xl text-primary font-BarlowCondensed;
    letter-spacing: 3.375px;
  }
}
