@tailwind base;
@tailwind components;
@tailwind utilities;

header nav a:not(.active) .bar {
  display: none;
}

@layer base {
  header nav a {
    @apply w-full text-base font-BarlowCondensed;
    letter-spacing: 2.7px;
  }

  header nav {
    inset: 0 0 0 30%;
    padding: min(30vh, 10rem) 2em;
  }

  h1 {
    @apply text-tertiary font-Bellefair text-8xl;
  }

  p {
    @apply text-primary font-Barlow text-[15px] w-10/12;
    line-height: 25px;
  }

  h3 {
    @apply text-base text-primary font-BarlowCondensed;
    letter-spacing: 3.375px;
  }
}
